<% content_for :head do %>
<%= stylesheet_link_tag    "people", media:"all" %>
<%= javascript_include_tag "people" %>
<% end %>

<%= render "layouts/header" %>
<div class="this-page" data-type="all people">
  <div class= "sort-btn-group-wrap">
    <div class="sort-btn-group">
      <a class="btn" id="alpha"><i class="icon-arrow-down"></i> A..Z</a>
      <a class="btn" id="count"><i class="icon-arrow-down"></i> 1..9</a>
    </div>
  </div>
  <div id="rowholder">
    <div class="picrow"></div>
  </div>
</div>

<%= render "layouts/footer-large" %>

