<% content_for :head do %>
<%= stylesheet_link_tag    "new", media:"all" %>
<%= javascript_include_tag "new" %>
<% end %>

<%= render "layouts/header" %>
<div class= "row">
  <div class= "span3 offset1">
    <p class= "body">
      New Albums</br>
      It's taken me a while to get the web site up and running. It's going to take me even longer to put up all the albums. 
      I've got a few albums included so test out the layout of the site. I'll eventually go through all the albums and cull
      out some of he pictures I'm not happy with so the albums contents are going to change.</br>
      Oh, I'm also tweaking the look of the site.
    </p>
    <p class= "sig">Omid, 7/28/13</p>
  </div>
  <div class= "span8 offset2">
    <div id="rowholder">
      <div class="picrow"></div>
    </div>
  </div>
</div>

<%= render "layouts/footer" %>


