<% content_for :head do %>
<%= stylesheet_link_tag    "albums", media:"all" %>
<%= javascript_include_tag "albums"%>
<% end %>

<%= render "layouts/header" %>
<div class="this-page" data-type="all albums">
  <div id="rowholder">
    <div class="picrow"></div>
  </div>
</div>
<%= render "layouts/footer-large" %>