// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// *= require tile.helper

.this-page {
  width: 100%
}

.thumbnail {
  line-height: 16px;
  background: #333;
  width: 100%;
}

.thumbnail .caption {
  padding: 5px 0px 0px 0px;
  color: #bbb;  
}

