// Place all the styles related to the People controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// *= require tile.helper
 
.this-page {
  width: 100%
}

#peopletable {
  margin-left: auto;
  margin-right: auto;
}

.sort-btn-group-wrap {
  padding-top: 5px;
  text-align: center;
}

div.sort-btn-group {
  margin: 0 auto; 
  text-align: center;
  width: inherit;
  display: inline-block;
}

/*
a {
    float: left;   
}*/