// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.galleria-image img {
  filter: saturate(120%);
  -webkit-filter: saturate(120%);
  -moz-filter: saturate(120%);
  -o-filter: saturate(120%);
  -ms-filter: saturate(120%);
}

.container-fluid {
  margin-top: 30px;
}

.picture {
  max-height: 75%;
}

.picture-info {
  text-align: left;
  font-size: 11px;
  line-height: 15px;
  color: #bbb;
}

.picture-info a:link, a:visited {
  color: #0088cc;
}

.picture-info a:hover {
  color: #444;
}

.prevnext {
  display: table-cell;
  text-align: center;
  vertical-align: middle;  
  border-style: solid;
  border-width: 3px;
  border-color: #888; 
  width: 60px;
  height: 60px;
  padding: 3px;
}

.prevnext img {
  max-width: 60px;
  max-height: 60px;
}

