<div class= "footer-container">
  <!-- FOOTER -->
  <footer>
    <p class="pull-right">
      <a href="#">Back to top</a>
    </p>
    <p>
      &copy; 2013 Omid Sojoodi
    </p>
  </footer>
</div>